<div class="row clearfix">
	<div class="col2">
		<div class="green">
			<h2>Login to use Hear</h2>
			<p>Hear allows you to build a list of your top 40 albums, then share this with friends, they can then keep track of their progress in your list.</p>
		</div>
	</div>
	<div class="col1">
		<div class="dark">
			<h3>Log in</h3>
			<%= render "sessions/form" %>
		</div>
	</div>
	<div class="col1">
		<div class="dark">
			<h3>Sign up</h3>
			<%= render "user/form" %>
		</div>
	</div>
</div>
